@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar {

  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 0px 27px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.navbar-right,
.navbar-center,
.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-left{
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #2210ee;
}
.navbar-right {
  gap: 20px;
}
.navbar-center{
  gap: 27px
}


.navbar-item{
  height: 40px;
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
.navbar-item{
  color: #333;
}
.navbar-item.active{
  color: #2210ee;
}

.navbar-button {
  font-size: 16px;
  width: 128px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #2210ee;
}
