.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-title {
  width: 732px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  margin: 46px 0px 71px 0px;
  color: #2210EE;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.primary-button {
  background-color: #2210ee;
  color: #fff;
  border: 2px solid transparent;
}
.secondary-button{
    color: #2210ee;
}

.navbar-center *{
    text-decoration: none;
}

.primary-button:active {
  background-color: #4739e8;
}

.secondary-button:active {
  background-color: transparent;
  border: 2px solid #4739e8;
  color: #4739e8;
}


.teriary-button {
  border: none;
  color: #2210ee;
  font-size: 16px;
  height: 22px;
  width: 128px;
  
}
